.main {
  padding: 120px 0 25px;
  overflow: hidden;
  position: relative;
  @media (max-width: @screen-sm-max) {
    padding-bottom: 0;
  }
  & > img {
    position: absolute;
    z-index: -1;
    top: 0;
    @media (max-width: @screen-md-max) {
      margin-left: -50%;
    }
    @media (max-width: @screen-md-max) {
      margin-left: -90%;
    }
  }
  .left-text-section {
    width: 396px;
    float: left;
    @media (max-width: @screen-sm-max) {
      float: none;
      margin: 0 auto;
    }
    @media (max-width: @screen-xs-max) {
      width: 100%;
    }
    p {
      clear: both;
    }
  }
  .slider {
    width: 700px;
    margin: 170px 0 0 7px;
    float: left;
    @media (max-width: @screen-md-max) {
      width: 500px;
    }
    @media (max-width: @screen-sm-max) {
      width: 100%;
      float: none;
      margin: 30px auto 0;
      padding:0 0 60px 0;
    }
    img {
      width: 100%;
      @media (max-width: @screen-md-max) {
        .img-responsive();
      }
    }
  }
  .list-group {
    margin-bottom: 9px;
  }
  ul.pull-left {
    width: 60%;
    padding-left: 10px;
  }
  ul.pull-right {
    width: 40%;
    padding-left: 22px;
  }
  ul.pull-left, ul.pull-right {
    list-style: none;
    li {
      position: relative;
      line-height: 22px;
      &:before {
        content: "•";
        color: @black-base;
        display: inline-block;
        width: 1em;
        font-size: 14px;
        left: -8px;
        position: absolute;
      }
    }
  }
}

ul {
  li {
    font-size: @font-size-list;
  }
}

.terms {
  padding-top: 58px;
  font-size: 12px;
}

.slick-dots {
  bottom: -57px !important;
  @media (max-width: @screen-sm-max) {
    bottom: 25px !important;
  }
  li {
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    width: 13px !important;
    height: 13px !important;
    background-color: rgb(189, 188, 182);
    &.slick-active {
      background: -webkit-linear-gradient(90deg, #166eac 0%, #2c9dec 100%);
      background: -moz-linear-gradient(90deg, #166eac 0%, #2c9dec 100%);
      background: -o-linear-gradient(90deg, #166eac 0%, #2c9dec 100%);
      background: -ms-linear-gradient(90deg, #166eac 0%, #2c9dec 100%);
      background: linear-gradient(0deg, #166eac 0%, #2c9dec 100%);
      filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#166eac', endColorstr='#2c9dec');
    }
  }
}
//remove the blue glow
a, button, .btn, .container, input[type="text"], input[type="password"], input[type="email"], input[type="tel"], input[type="search"], input[type="url"], input[type="date"], textarea, select, .slick-active, .slick-track, .slider, .slick-slide {
  outline: 0 !important;
}

